MANAGEMENT_DB_HOST=management-service-db-host
MANAGEMENT_DB_PORT=3307
MANAGEMENT_DB_USER=root
MANAGEMENT_DB_PASSWORD=abc123
MANAGEMENT_DB_DATABASE=LibraryManagement
ACCOUNT_DB_HOST=account-service-db-host
ACCOUNT_DB_PORT=3308
ACCOUNT_DB_USER=root
ACCOUNT_DB_PASSWORD=abc123
ACCOUNT_DB_DATABASE=LibraryAccount
PLATFORM_DB_HOST=platform-service-db-host
PLATFORM_DB_PORT=3309
PLATFORM_DB_USER=root
PLATFORM_DB_PASSWORD=abc123
PLATFORM_DB_DATABASE=LibraryPlatform
API_GATEWAY_HOST=http://kong:8000
SIGN_IN_URL=/auth/api/v1/signin
CONSUMERS_HOST=http://kong:8001/consumers/
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EXPIRE=900
ENCRYPT_KEY=4z3v3d0-c0d3r_16
MAINFRAME_URL=http://json-server:3000/
LOG_FILE=../../internal/app/logs
ACCOUNT_SERVICE_NAME=account service
MANAGEMENT_SERVICE_NAME=management service
PLATFORM_SERVICE_NAME=platform service
AUTHORIZATION_TOKEN_NAME=authorizationToken